alabaster @ file:///pub/devel/python/python-alabaster/python-alabaster-0.7.12-2.noarch/build/dist/alabaster-0.7.12-py2.py3-none-any.whl
appdirs @ file:///pub/devel/python/python-appdirs/python-appdirs-1.4.4-1.noarch/build/dist/appdirs-1.4.4-py2.py3-none-any.whl
asn1crypto @ file:///pub/devel/python/python-asn1crypto/python-asn1crypto-1.4.0-1.noarch/build/dist/asn1crypto-1.4.0-py3-none-any.whl
Babel @ file:///pub/devel/python/python-babel/python-babel-2.8.0-1.noarch/build/dist/Babel-2.8.0-py2.py3-none-any.whl
backcall @ file:///pub/devel/python/python-backcall/python-backcall-0.2.0-1.x86_64/build/dist/backcall-0.2.0-py3-none-any.whl
bcrypt @ file:///usr/src/pkgs/python-bcrypt/python-bcrypt-3.2.0-1.x86_64/build/dist/bcrypt-3.2.0-cp38-cp38-cygwin_3_1_7_x86_64.whl
beautifulsoup4 @ file:///pub/devel/python/python-bs4/python-bs4-4.9.1-1.noarch/build/dist/beautifulsoup4-4.9.1-py3-none-any.whl
Brotli @ file:///home/cygwin-lem/brotli-cygport/brotli-1.0.9-1.x86_64/build/dist/Brotli-1.0.9-cp38-cp38-cygwin_3_1_7_x86_64.whl
cffi @ file:///pub/devel/python/python-cffi/python-cffi-1.14.0-1.x86_64/build/dist/cffi-1.14.0-cp38-cp38-cygwin_3_1_6_x86_64.whl
chardet @ file:///pub/devel/python/python-chardet/python-chardet-3.0.4-2.noarch/build/dist/chardet-3.0.4-py2.py3-none-any.whl
cryptography @ file:///pub/devel/python/python-cryptography/python-cryptography-3.0-1.x86_64/build/dist/cryptography-3.0-cp38-cp38-cygwin_3_1_6_x86_64.whl
Cython @ file:///pub/devel/python/python-cython/python-cython-0.29.21-1.x86_64/build/dist/Cython-0.29.21-cp38-cp38-cygwin_3_1_6_x86_64.whl
decorator @ file:///pub/devel/python/python-decorator/python-decorator-4.4.2-1.noarch/build/dist/decorator-4.4.2-py2.py3-none-any.whl
docutils @ file:///pub/devel/python/python-docutils/python-docutils-0.16-1.noarch/build/dist/docutils-0.16-py2.py3-none-any.whl
h5py @ file:///pub/devel/python/python-h5py/python-h5py-2.10.0-1.x86_64/build/dist/h5py-2.10.0-cp38-cp38-cygwin_3_1_6_x86_64.whl
html5lib @ file:///pub/devel/python/python-html5lib/python-html5lib-1.1-1.noarch/build/dist/html5lib-1.1-py2.py3-none-any.whl
idna @ file:///pub/devel/python/python-idna/python-idna-2.10-1.noarch/build/dist/idna-2.10-py2.py3-none-any.whl
imagesize @ file:///pub/devel/python/python-imagesize/python-imagesize-1.2.0-1.noarch/build/dist/imagesize-1.2.0-py2.py3-none-any.whl
ipython @ file:///pub/devel/python/python-ipython/python-ipython-7.16.1-1.noarch/build/dist/ipython-7.16.1-py3-none-any.whl
ipython-genutils @ file:///pub/devel/python/python-ipython_genutils/python-ipython_genutils-0.2.0-2.noarch/build/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
Jinja2 @ file:///pub/devel/python/python-jinja2/python-jinja2-2.11.2-1.noarch/build/dist/Jinja2-2.11.2-py2.py3-none-any.whl
lockfile @ file:///pub/devel/python/python-lockfile/python-lockfile-0.12.2-3.noarch/build/dist/lockfile-0.12.2-py2.py3-none-any.whl
lxml @ file:///pub/devel/python/python-lxml/python-lxml-4.5.2-1.x86_64/build/dist/lxml-4.5.2-cp38-cp38-cygwin_3_1_6_x86_64.whl
MarkupSafe @ file:///pub/devel/python/python-markupsafe/python-markupsafe-1.1.1-2.x86_64/build/dist/MarkupSafe-1.1.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
nose @ file:///pub/devel/python/python-nose/python-nose-1.3.7-2.noarch/build/dist/nose-1.3.7-py3-none-any.whl
numpy @ file:///pub/devel/python/python-numpy/python-numpy-1.19.0-1.x86_64/build/dist/numpy-1.19.0-cp38-cp38-cygwin_3_1_6_x86_64.whl
olefile @ file:///pub/devel/python/python-olefile/python-olefile-0.46-2.noarch/build/dist/olefile-0.46-py2.py3-none-any.whl
packaging @ file:///pub/devel/python/python-packaging/python-packaging-20.4-1.noarch/build/dist/packaging-20.4-py2.py3-none-any.whl
paramiko @ file:///usr/src/pkgs/python-paramiko/python-paramiko-2.7.1-1.noarch/build/dist/paramiko-2.7.1-py2.py3-none-any.whl
pexpect @ file:///pub/devel/python/python-pexpect/python-pexpect-4.8.0-1.noarch/build/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///pub/devel/python/python-pickleshare/python-pickleshare-0.7.5-2.noarch/build/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///home/Hamish/python-imaging/python-imaging-7.2.0-1.x86_64/build/dist/Pillow-7.2.0-cp38-cp38-cygwin_3_1_6_x86_64.whl
ply @ file:///pub/devel/python/python-ply/python-ply-3.11-2.noarch/build/dist/ply-3.11-py2.py3-none-any.whl
prompt-toolkit @ file:///pub/devel/python/python-prompt_toolkit/python-prompt_toolkit-3.0.5-1.noarch/build/dist/prompt_toolkit-3.0.5-py3-none-any.whl
ptyprocess @ file:///pub/devel/python/python-ptyprocess/python-ptyprocess-0.6.0-2.noarch/build/dist/ptyprocess-0.6.0-py3-none-any.whl
pyasn1 @ file:///pub/devel/python/python-pyasn1/python-pyasn1-0.4.8-1.noarch/build/dist/pyasn1-0.4.8-py2.py3-none-any.whl
pyasn1-modules @ file:///pub/devel/python/python-pyasn1-modules/python-pyasn1-modules-0.2.8-1.noarch/build/dist/pyasn1_modules-0.2.8-py2.py3-none-any.whl
pycairo @ file:///pub/devel/python/python-cairo/python-cairo-1.19.1-1.x86_64/build/dist/pycairo-1.19.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
pycparser @ file:///pub/devel/python/python-pycparser/python-pycparser-2.20-1.noarch/build/dist/pycparser-2.20-py2.py3-none-any.whl
pycrypto @ file:///pub/devel/python/python-crypto/python-crypto-2.6.1-3.x86_64/build/dist/pycrypto-2.6.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
Pygments @ file:///pub/devel/python/python-pygments/python-pygments-2.6.1-1.noarch/build/dist/Pygments-2.6.1-py2.py3-none-any.whl
PyGObject @ file:///pub/devel/python/python-gi/python-gi-3.36.1-1.x86_64/build/dist/PyGObject-3.36.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
PyNaCl @ file:///usr/src/pkgs/python-nacl/python-nacl-1.4.0-1.x86_64/build/dist/PyNaCl-1.4.0-cp38-cp38-cygwin_3_1_7_x86_64.whl
pyOpenSSL @ file:///pub/devel/python/python-openssl/python-openssl-19.1.0-1.noarch/build/dist/pyOpenSSL-19.1.0-py2.py3-none-any.whl
pypandoc==1.4
pyparsing @ file:///pub/devel/python/python-pyparsing/python-pyparsing-2.4.7-1.noarch/build/dist/pyparsing-2.4.7-py2.py3-none-any.whl
pytz @ file:///pub/devel/python/python-pytz/python-pytz-2020.1-1.noarch/build/dist/pytz-2020.1-py3-none-any.whl
pyzmq @ file:///pub/devel/python/python-zmq/python-zmq-19.0.2-1.x86_64/build/dist/pyzmq-19.0.2-cp38-cp38-cygwin_3_1_6_x86_64.whl
requests @ file:///pub/devel/python/python-requests/python-requests-2.24.0-1.noarch/build/dist/requests-2.24.0-py2.py3-none-any.whl
simplegeneric @ file:///pub/devel/python/python-simplegeneric/python-simplegeneric-0.8.1-5.noarch/build/dist/simplegeneric-0.8.1-py3-none-any.whl
six @ file:///pub/devel/python/python-six/python-six-1.15.0-1.noarch/build/dist/six-1.15.0-py2.py3-none-any.whl
snowballstemmer @ file:///pub/devel/python/python-snowballstemmer/python-snowballstemmer-2.0.0-1.noarch/build/dist/snowballstemmer-2.0.0-py2.py3-none-any.whl
soupsieve @ file:///pub/devel/python/python-soupsieve/python-soupsieve-2.0.1-1.noarch/build/dist/soupsieve-2.0.1-py3-none-any.whl
Sphinx @ file:///pub/devel/python/python-sphinx/python-sphinx-3.1.2-2.noarch/build/dist/Sphinx-3.1.2-py3-none-any.whl
sphinx-notfound-page @ file:///pub/devel/python/python-sphinx-notfound-page/python-sphinx-notfound-page-0.5-1.noarch/build/dist/sphinx_notfound_page-0.5-py3-none-any.whl
sphinx-rtd-theme @ file:///pub/devel/python/python-sphinx_rtd_theme/python-sphinx_rtd_theme-0.4.3-2.noarch/build/dist/sphinx_rtd_theme-0.4.3-py2.py3-none-any.whl
sphinxcontrib-applehelp @ file:///pub/devel/python/python-sphinxcontrib-applehelp/python-sphinxcontrib-applehelp-1.0.2-1.noarch/build/dist/sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-devhelp @ file:///pub/devel/python/python-sphinxcontrib-devhelp/python-sphinxcontrib-devhelp-1.0.2-1.noarch/build/dist/sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-htmlhelp @ file:///pub/devel/python/python-sphinxcontrib-htmlhelp/python-sphinxcontrib-htmlhelp-1.0.3-1.noarch/build/dist/sphinxcontrib_htmlhelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-jsmath @ file:///pub/devel/python/python-sphinxcontrib-jsmath/python-sphinxcontrib-jsmath-1.0.1-1.noarch/build/dist/sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl
sphinxcontrib-qthelp @ file:///pub/devel/python/python-sphinxcontrib-qthelp/python-sphinxcontrib-qthelp-1.0.3-1.noarch/build/dist/sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-serializinghtml @ file:///pub/devel/python/python-sphinxcontrib-serializinghtml/python-sphinxcontrib-serializinghtml-1.1.4-1.noarch/build/dist/sphinxcontrib_serializinghtml-1.1.4-py2.py3-none-any.whl
sphinxcontrib-websupport @ file:///pub/devel/python/python-sphinxcontrib-websupport/python-sphinxcontrib-websupport-1.2.3-1.noarch/build/dist/sphinxcontrib_websupport-1.2.3-py2.py3-none-any.whl
SQLAlchemy @ file:///pub/devel/python/python-sqlalchemy/python-sqlalchemy-1.3.18-1.x86_64/build/dist/SQLAlchemy-1.3.18-cp38-cp38-cygwin_3_1_6_x86_64.whl
testpath @ file:///pub/devel/python/python-testpath/python-testpath-0.4.4-1.noarch/build/dist/testpath-0.4.4-py3-none-any.whl
traitlets @ file:///pub/devel/python/python-traitlets/python-traitlets-4.3.3-1.noarch/build/dist/traitlets-4.3.3-py2.py3-none-any.whl
urllib3 @ file:///pub/devel/python/python-urllib3/python-urllib3-1.25.10-1.noarch/build/dist/urllib3-1.25.10-py2.py3-none-any.whl
virtualenv @ file:///pub/devel/python/python-virtualenv/python-virtualenv-20.0.23-1.noarch/build/dist/virtualenv-20.0.23-py2.py3-none-any.whl
wcwidth @ file:///pub/devel/python/python-wcwidth/python-wcwidth-0.2.5-1.noarch/build/dist/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///pub/devel/python/python-webencodings/python-webencodings-0.5.1-3.noarch/build/dist/webencodings-0.5.1-py2.py3-none-any.whl
Whoosh @ file:///pub/devel/python/python-whoosh/python-whoosh-2.7.4-3.noarch/build/dist/Whoosh-2.7.4-py2.py3-none-any.whl
wxPython==4.0.7.post2
